[Unit]
Description=NET/ROM routing daemon
After=network.target
StartLimitInterval=0

[Service]
Type=simple
Restart=always
RestartSec=5
ExecStart=netromd -i

[Install]
WantedBy=multi-user.target
