[Unit]
Description=AX.25 NET/ROM interface %I
After=network.target
StartLimitInterval=0

[Service]
Type=oneshot
ExecStart=/usr/sbin/nrattach %i
RemainAfterExit=yes
[Install]
WantedBy=multi-user.target

